* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D9D0C5;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'K2D', sans-serif;
    font-weight: bold;
}

form input, button {
    font-size: 1.1rem;
    font-family: 'K2D', sans-serif;
    height: 30px;
    border: none;
}

input {
    width: 250px;
    padding-left: 8px;
}

button {
    height: 32px;
    width: 150px;
    font-weight: bolder;
    cursor: pointer;
    background-color: #595959;
    color: #D9D0C5;
}

button:hover {
    background-color: black;
    color: #D9D0C5;
}

#title-tarefas {
    padding: 0;
    text-align: center;
}

.tarefas {
    max-width: 85%;
    border-radius: 10px;
    padding: 10px 5px;
    margin-top: 15px;
    background-color: #BFB2A3;
    display: none;
    font-size: 1.1rem;
    font-family: 'K2D', sans-serif;
}

h4 {
    font-size: 1.5rem;
}

ul li {
    list-style: none;
    font-size: 1.1rem;
    font-family: 'K2D', sans-serif;
    font-weight: 400;
    font-style: normal;
}

li {
    padding: 5px 30px;
    margin: 10px 0;
    text-align: center;
    text-align: justify;
}

.line-through {
    text-decoration: line-through;
}