@charset "UTF-8"
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Nasa21';
    src: url('../fonts/Nasa21.ttf') format('truetype');
}

:root {
    --cor0: #000000;
    --cor1: #FFFFFF;
    --cor2: #626262;
    --cor3: #2F28FB;
    --font0: 'Roboto', 'Work Sans', Verdana, Arial, Helvetica, sans-serif;
    --font1: 'Nasa21', sans-serif;
    --font2: 'Didact Gothic', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: var(--cor0) url(../imagens/moon-001.jpg); center top no-repeat fixed;
    background-size: cover;
}

header > div > div > h1{
    font-family: var(--font1);
    font-size: 3em;
    font-weight: bolder;
    color: var(--cor1);
    margin: 20px;
}

header  nav  li{
    display: inline;
    margin: 20px;
}
header div li a{
    color: var(--cor1);
    text-decoration: none;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

}

#start {
    font-weight: bolder;
}

#center {
    font-family: var(--font0);
    font-size: 1.3em;
    font-weight: 100;
    align-items: center;
    justify-content: flex-start;
}

#end {
    font-family: var(--font0);
    font-size: 1.3em;
    font-weight: 100;
    align-items: center;
    justify-content: flex-end;
}

main {
    color: var(--cor1);
    font-family: var(--font0);
}

#main {
    m
}

#study h1 {
    font-size: 5em;
}